<?xml version="1.0"?>
<launch>

    <include file="$(find ros_2dnav_practice)/launch/car_robot_rplidar.launch"/>
    <include file="$(find ros_2dnav_practice)/launch/gmapping.launch"/>
    <include file="$(find ros_2dnav_practice)/launch/move_base.launch"/>
    
    
    <node name="Return" pkg="ros_2dnav_learning" type="Return" output="screen"/>

</launch>