<?xml version="1.0"?>
<launch>

    <include file="$(find ros_2dnav_learning)/launch/car_robot_rplidar.launch"/>
    <include file="$(find ros_2dnav_learning)/launch/gmapping.launch"/>
    <include file="$(find ros_2dnav_learning)/launch/move_base.launch"/>
    
    <node name="AutonomousExploration" pkg="ros_2dnav_learning" type="AutonomousExploration" output="log"/>

</launch>